fastapi
uvicorn
python-multipart
librosa
soundfile
noisereduce
matplotlib
numpy
jiwer
faster-whisper
sentence-transformers
scikit-learn
nltk
streamlit
pandas
plotly
transformers
torch
sentencepiece
accelerate
keybert
wordcloud
